@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --main-titles-color: #53A2BE;
    --main-buttons-color: #1D84B5;
}

html {
    font-size: 62.5%;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/main_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.logo {
    text-decoration: none;
    color: white;
}

.logo h1 {
    font-size: 3rem;
    top: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 12px;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background-color: var(--main-buttons-color);
}

.contenedor-header {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.contenedor-header .hero-card {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 45rem;
    color: white;
    font-size: 1.5rem;
    padding: 12px;
}

.contenedor-header p {
    text-align: center;
    word-spacing: 2px;
}

.contenedor-header a {
    text-decoration: none;
    color: white;
    background-color: var(--main-buttons-color);
    padding: 10px 25px;
    font-size: 2rem;
    transition: 0.2s all;
    border-radius: 5px;
}

.contenedor-header a:hover {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.servicios {
    background-color: #f1f1f1;
    height: 700px;
    display: grid;
    place-items: center;
    padding: 4rem 0;
}

.title-text {
    text-transform: uppercase;
    font-size: 4.3rem;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 2rem;
    background: var(--main-titles-color);
    color: white;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.cards-centradas {

    width: 1054px;
    margin: 0 auto;
    height: 100%;
}

.card-servicios {
    width: 250px;
    height: 300px;
    float: left;
    margin: 10px 50px;
    transition: all .5s ease-out;
    /* box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px; */
}

.card-servicios:hover {
    transform: scale(1.05);
}

.card-img {
    padding: 1rem;

}

.card-servicios h4 {
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

.card-servicios img {
    width: 100%;
    object-fit: cover;

}

.card-servicios p {
    text-align: justify;
    word-spacing: 2px;
    padding: 10px;
}

.contenedor-cu {
    justify-content: center;
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 4rem 0;
    margin: 0 auto;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

textarea {
    height: 90px;
}

input,
textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    resize: none;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.field-group {
    width: 50%;
    display: flex;
    flex-direction: column;
}

input[type=reset] {
    background-color: #FB3640;
}

input[type=submit] {
    background-color: #09f;
}

input[type=reset],
input[type=submit] {
    width: 10rem;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto {
    padding: 1rem 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    padding: 4rem 0;
    background-color: #f1f1f1;
}

.page-footer {
    background-color: #363636;
    padding: 6rem 7rem;
    color: white;
    position: relative;
}

.page-fcontainer {
    position: relative;
    z-index: 10;
}

.section-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 15px; */
}

.ubicacion {
    width: 35%;
    padding: 2rem;
    /* border: solid 1px red; */
}

.social-box {
    width: 25%;
    padding: 2rem;
    /* border: solid 1px green; */
}

.social-box h2 {
    margin-bottom: 1rem;
}

.social-box ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.social-box ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-box ul li p {
    font-size: 1.5rem;
}

.social-box ul li a,
.social-box ul li a i {
    color: white;
}

.social-box ul li a i {
    font-size: 3rem;

}

.navini .navigation-footer ul {
    /* width: 100%; */
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}