@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/main_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;
}

nav {
    /* background-color: black; */
    position: relative;
    width: 100%;
    top: 20px;
    left: 0;
    padding: 8px 20px;
}

.logo {
    text-decoration: none;
    color: white;
    position: absolute;
}

.logo h1 {
    font-size: 3rem;
    top: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 12px;
}

nav ul li a:hover {
    background-color: #4f8ddb;
}

.contenedor-header {
    width: 30%;
    height: 150px;
    position: absolute;
    color: white;
    top: 150px;
    font-size: 1.5rem;
    padding: 12px;
}


.servicios {
    width: 100%;
    display: inline-block;
    height: 350px;
}

.cards-centradas {

    width: 1054px;
    margin: 0 auto;
    height: 100%;
}

.card-servicios {
    width: 250px;
    height: 300px;
    float: left;
    margin: 10px 50px;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.card-servicios img {
    width: 100%;

}

.card-servicios p {
    text-align: justify;
    word-spacing: 2px;
    padding: 10px;
}

.contenedor-cu {
    position: relative;
    width: 100%;
}
.cu-titulo{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
}

.contacto {
    position: absolute;
    width: 40%;
    left: 50px;
    height: 350px;
}

.contacto article form {
    width: 500px;
    font-size: 16px;
    color: #333;
    padding: 20px;
    margin: auto;

}

.contacto article form label {
    display: block;
    margin-bottom: 8px;
}

.contacto article form label input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.contacto article form label input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.contacto article form label input[type="submit"]:hover {
    background-color: #45a049;
}

.ubicacion {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    right: 50px;
}

.logoinsta {
    width: 50px;
    height: 40px;
}

main {
    background-color: #4f8ddb;
}

footer {
    position: relative;
    top: 500px;
    left: 600px;
}

