@media(max-width:1050px) {
    .main-aboutus {
        width: 100%;
        height: 100%;
    }

    .main-aboutus p {
        font-size: 1.5rem;
    }

    .enter-login p {
        font-size: 1.5rem;
        width: 100%;
    }

    .servicios {
        height: 100%;

        .p-service {
            text-align: left;
            width: 100%;
            font-weight: 300;
            margin-top: 0;
            padding: 1.5rem;
        }
    }

    .cards-centradas {
        width: 50%;
        justify-content: center;
    }

    .main-aboutus {

        .about-us {
            width: 80%;
            margin: 2rem auto;

            p {
                text-align: left;
                width: 100%;
                font-weight: 300;
            }
        }
    }

    .page-footer {
        .page-fcontainer {
            .section-footer {
                .ubicacion {
                    width: 60%;

                    .frameUbicacion {
                        iframe {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .page-footer {
        padding: 0;
        margin: 0;
    }

    .section-footer {
        flex-direction: column;
    }

    .ubicacion {
        width: 100%;
        padding: 0;
    }

    .cu-titulo {
        text-align: center;
        margin-top: 1rem;
    }

    .social-box {
        width: 100%;
        padding: 0;
    }

    .social-box ul {
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .navini .navbar-list {
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

@media(max-width:992px) {
    header {
        .navbar .navbar-collapse .navbar-list {
            flex-direction: column;
            text-align: end;
        }
    }
}

@media(max-width:768px) {
    header {
        .contenedor-header {
            .hero-card {
                width: 100%;

                p {
                    width: 100%;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .servicios {
        flex-direction: column;
    }

    .card-servicios {
        margin: 0;
    }

    .page-footer {
        .page-fcontainer {
            .section-footer {
                .ubicacion {
                    width: 80%;

                }
            }
        }
    }

    .main-aboutus {
        .about-us {
            p {
                text-align: left;
                width: 100%;
                font-weight: 300;
            }
        }
    }
}

@media(max-width:386px) {
    header {
        .navbar {
            .container-fluid {
                .logo {
                    display: none;
                }
            }
        }
    }

    .servicios {
        height: 100%;
    }

    .page-footer {
        .page-fcontainer {
            .section-footer {
                .ubicacion {
                    width: 100%;
                }
            }
        }
    }

}