.servicios {
    background-color: #f1f1f1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 4rem 0;

    .title-text {
        text-transform: uppercase;
        font-size: 4.3rem;
        font-family: 'Source Code Pro', monospace;
        text-align: center;
        padding: 2rem;
        background: var(--main-titles-color);
        color: white;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .cards-centradas {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-servicios {
        width: 250px;
        height: 300px;
        margin: 10px 50px;
        transition: all .5s ease-out;

        &:hover {
            transform: scale(1.05);
        }

        .card-img {
            padding: 1rem;

        }

        h4 {
            font-size: 1.5rem;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            text-align: center;
            padding: 1rem 0;
        }
        img {
            width: 100%;
            object-fit: cover;
    }
    p {
        text-align: justify;
        word-spacing: 2px;
        padding: 10px;
    }
}
.p-service {
    display: flex;
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 2px;
    font-family: 'Source Code Pro', monospace;
}
}