%input-fields {
    width: 100%;
    padding: 10px 14px;
    border-radius: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    resize: none;
}

%form-buttons {
    width: 10rem;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

%nav-list{
    li {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            font-size: 2rem;
            padding: 12px;
            border-radius: 5px;

            &:hover {
                background-color: $main-buttons-color;
            }
        }
    }
}