header {
    background-image: url("../img/main_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    position: relative;

    // nav {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding: 2rem 1rem;
    // }



    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;

        .container-fluid {
            .logo {
                text-decoration: none;
                color: white;

                h1 {
                    font-size: 2.5rem;
                    top: 30px;
                    font-family: 'Source Code Pro', monospace;
                    font-weight: bold;
                    color: white;
                    overflow: hidden;
                    border-right: .15em solid orange;
                    white-space: nowrap;
                    margin: 0 auto;
                    letter-spacing: .15em;
                    animation:
                        typing 3.5s steps(30, end),
                        blink-caret .5s step-end infinite;
                }
            }

            .navbar-collapse {
                padding-top: 1rem;
                justify-content: flex-end;

                .navbar-list {
                    display: flex;
                    gap: 10px;
                    @extend %nav-list;
                }
            }
        }

    }

    .contenedor-header {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

        .hero-card {
            margin: 2rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 45rem;
            color: white;
            font-size: 1.5rem;
            padding: 12px;

            p {
                text-align: center;
                word-spacing: 2px;
            }

            a {
                text-decoration: none;
                color: white;
                background-color: var(--main-buttons-color);
                padding: 10px 25px;
                font-size: 2rem;
                transition: 0.2s all;
                border-radius: 5px;
            }

            & a:hover {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            }
        }
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}